
{% extends 'perris/base.html' %}
{% block content %}
<div class="container">
	<div class="row login-register animated fadeIn">
		<div class="col-12 col-mb-6 col-lg-12">
			<div class="card card-login">
  <div class="card-header titulo-register ">
  <h1 class="card-title animated flipInY">Iniciar Sesión</h1>
  </div>
  <div class="card-body">
  	<!--Mensaje de Error-->
			{% if form.errors %}
			    <div class="alert alert-danger" role="alert">
			 		 El nombre de usuario que ingresaste no coincide con ninguna cuenta. Regístrate para crear una cuenta.
				</div>
			{% endif %}

		   <form method="POST" class="needs-validation" novalidate>
						{% csrf_token %}
						<div class="input-group" >
							<div class="input-group-prepend">
                  <div class="input-group-text"><i class="material-icons">account_circle</i></div>
                </div>
						      <input type="text" class="form-control" id="validationCustom01" placeholder="Nombre de Usuario"  name="username"  required>
						      <div class="valid-feedback" >
						        Completado
						      </div>
						</div>
						<div class="input-group" >
									<div class="input-group-prepend">
                  <div class="input-group-text"><i class="material-icons">security</i></div>
                </div>
						      <input type="password" class="form-control" id="validationCustom02" name="password" placeholder="Contraseña"  required>
						      <div class="valid-feedback" >
						       Completado
						      </div>
						</div>

						<div class="form-group btn-ingresar" >
                            <a href="{% url 'password_reset' %}" class="btn btn-danger">Olvidé mi contraseña</a>
							<input type="submit" value="Ingresar"  class="btn-hover color-1" name="">
						</div>
					</form>
					<a class="btn btn-block btn-social btn-google" href="{%  url 'social:begin' 'google-oauth2' %}"><i class="fab fa-google"></i> Ingresar con Google</a>

  </div>



</div>
		</div>
	</div>
</div>
<script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>

{% endblock %}