{% extends 'perris/base.html' %}

{% block content %}
  {% if validlink %}
    <div class="container">
      <h3>Reestalecer Contraseña</h3>
    <form method="post">
      {% csrf_token %}
      
      <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="material-icons">add</i></div>
                </div>
                <input type="password" class="form-control" id="validationCustom01" placeholder="Nueva Contraseña"  name="new_password1"  required>
                      <div class="valid-feedback" >
                        Completado
                      </div>
              </div>

               <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="material-icons">add</i></div>
                </div>
                <input type="password" class="form-control" id="validationCustom01" placeholder="Confirme la n ueva Contraseña"  name="new_password2"  required>
                      <div class="valid-feedback" >
                        Completado
                      </div>
              </div>
      <button type="submit"  class="btn-hover color-1">Aceptar</button>
    </form>
  {% else %}
    <p class="container">
      <h1>El link caducó , vuelva a intentarlo mas tarde</h1>
    </p>
    </div>
  {% endif %}
{% endblock %}