{% extends "perris/base.html" %}
{% load staticfiles %}
{% block content %}
    <div class="container">
<div  class="row">
  <div class="col-12 col-sm-6">
            <div class="content-section">
        
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Por favor , escriba su correo asociado a la cuenta</legend>
                 <div class="col-auto">
          <label class="sr-only" for="inlineFormInputGroup">Username</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div  for="email" class="input-group-text">@</div>
            </div>
            <input type="text" id="email" class="form-control" id="inlineFormInputGroup" placeholder="Email" required="required" name="email">
          </div>
        </div>
                    
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Enviar</button>
                    <a href="{% url 'login' %}" class="btn btn-warning">Cancelar</a>
                </div>
            </form>
    </div>
  </div>
  <div class="col-12 col-sm-6">
    <img class="img-fluid imagen-reset rounded"  src="{% static 'img/perro1.png' %}">
    <div></div>
  </div>
</div>
    </div>
    <script type="text/javascript">
      bootstrapValidate(
   '#email',
   'email:Ingrese un Correo Válido',
   'email|required'
);

    </script>
{% endblock content %}
