{% extends "perris/base.html" %}
{% load staticfiles %}
{% block content %}
 <div class="container">
 	<div class="card text-center">
  <div class="card-header">
  </div>
  <div class="card-body">
    <h5 class="card-title">Restablecer Contraseña</h5>
    <p class="card-text"> Se ha enviado un mensaje a su correo indicando las instrucciones para cambiar la contraseña.
    Si usted no recibe el email, porfavor revise si el correo esta asociado a la cuenta de lo contrario registrese,
    Recuere Revizar en la categoria SPAM</p>
      <img src="{% static 'img/correo.png' %}">
  </div>
</div>
 </div>
{% endblock %}