{% extends 'perris/base.html' %}

{% block content %}
    <div class="container">
        <h1></h1>

            <div class="card mb-3">

			  {% if perro.fotografia_perro %}
               <img  src="{{perro.fotografia_perro.url}}" class="img-responsive card-img-top animated fadeIn" >
            {% endif %}
			  <div class="card-body">
			    <h5 class="card-title">{{ perro.nombre_perro }}</h5>
			    <p class="card-text">{{perro.descripcion}}</p>
			    <!--EDITADO-SE ELIMINÓ EL ATRIBUTO PUBLISHED_DATE-->
			    <!-- <p class="card-text"><small class="text-muted">Publicado : {{perro.published_date }}</small></p> -->
			     <div class="animated fadeInRight">
			     	<!--<div class="btn-group " role="group" aria-label="Basic example">-->
		              <button class="btn btn btn-outline-success ">Estado : {{perro.estado}}</button>
		              <button class="btn btn-primary" > <i class="fas fa-dog"></i> Raza : {{perro.raza_predominante}}</button>
		              <a class="btn btn btn-info" href="{% url 'login' %}">Adoptar</a>
          		  <!--</div>  -->
			    <a href="{% url 'perros_disponibles' %}" class="btn btn-secondary " >Volver</a>
			     </div>
			  </div>
			</div>
            <!-- <a class="btn btn-primary" href="{% url 'edit_post_perro' pk=perro.pk %}">Modificar</a>
            <a class="btn btn-danger" href="{% url 'delete_post_perro' pk=perro.pk %}">Eliminar</a>
            <a class="btn btn-info" href="{% url 'adm.inicio' %}">Volver</a> -->
    </div>
{% endblock %}
